.discord-link {
  display: flex;
  gap: 5px;
  transition: $s4j-transition-300;
  border: 1px solid $s4j-secondary-text-color;
  border-radius: 2.5rem;
  background-color: $s4j-darker-color;
  cursor: pointer;
  padding: 15px 40px;
  width: fit-content;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;

  &:hover {
    gap: 25px;
    padding-right: 30px;
    padding-left: 30px;
  }

  * {
    color: $s4j-secondary-text-color;
  }
}
