.logo {
  position: relative;
  z-index: 2;
  background-color: $s4j-secondary-color;
  background-image: url('assets/images/logoSite.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  max-width: 500px;

  &::after {
    display: block;
    padding-bottom: 100%;
    content: '';
  }

  @media screen and ($computer-media) {
    &::before {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
    }
  }
}
