.contact-card {
  display: flex;
  gap: 5px;
  align-items: flex-end;
  font-size: 1.1rem;
  font-weight: 700;

  &--links {
    display: flex;
    gap: 5px;
  }

  &--link {
    font-size: 1.5rem;

    i {
      color: $s4j-primary-color;
    }
  }

  &--link:hover i {
    color: $s4j-secondary-color;
  }

  &--role {
    font-size: 0.9rem;
    font-weight: 400;
  }
}
