.info-card {
  width: fit-content;

  &--header {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 400;
  }

  &--type {
    font-size: 0.9rem;
  }

  &--icon {
    * {
      color: $s4j-primary-color;
    }
  }

  &--label {
    margin-top: 7px;
    white-space: nowrap;
    font-weight: 700;
  }
}
