mixin info-card(options)
  -const opt = options || {}
  -const type = opt.type;
  -const title = () => {
  -if(type === 'employees') {
  -return opt.info + ' employé·e·s';
  -}

  -if(type === 'contract') {
  -return 'Contrat : ' + opt.info;
  -}

  -if(type === 'industry') {
  -return 'Secteur : ' + opt.info;
  -}

  -return '';
  -}
  -
  -const icon = () => {
  -if(type === 'employees') {
  -return 'users';
  -}
  -
  -if(type === 'contract') {
  -return 'newspaper';
  -}
  -
  -if(type === 'industry') {
  -return 'chart-line';
  -}
  -
  -return '';
  -}
  -
  -const typeLabel = () => {
  -if(type === 'employees') {
  -return 'Employé·e·s';
  -}
  -
  -if(type === 'contract') {
  -return 'Contrat';
  -}
  -
  -if(type === 'industry') {
  -return 'Secteur';
  -}
  -
  -return '';
  -}
  .info-card(title = title())
    .info-card--header
      .info-card--icon
        i(class = 'icon-' + icon())
      .info-card--type #{typeLabel()}
    .info-card--label #{opt.info}
