mixin contribution-link
  a.contribution-link(href='https://gitlab.com/ideme1/s4j/-/blob/main/contributing.md', target='_blank')
    .contribution-link--icon
      i.icon-edit
    contribution-link--label Modifier cette page
