$s4j-primary-color: #d4b297;
$s4j-secondary-color: #044f51;
$s4j-darker-color: #023335;
$s4j-tertiary-color: #e5eded;
$s4j-primary-text-color: #0e0e0e;
$s4j-secondary-text-color: #fff;
$s4j-content-background-color: #fff;
