.company {
  display: flex;
  position: relative;
  flex: 1 1 0px;
  flex-direction: column;
  border: 3px solid $s4j-primary-color;
  border-radius: 10px;
  background-color: $s4j-content-background-color;
  padding: 20px;
  min-width: 350px;
  max-width: 430px;

  &--header {
    text-align: center;
  }

  &--name {
    margin: 0 25px;
  }

  &--linkedin {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  &--details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 21px;
    border-top: 1px solid $s4j-primary-color;
    padding-top: 21px;
  }

  &--contacts {
    display: grid;
    gap: 0.8rem;
    margin-top: 21px;
    border-top: 1px solid $s4j-primary-color;
    padding-top: 21px;
  }

  &--website {
    margin-top: auto;
    padding-top: 25px;
  }
}
