include /atom/company-location/company-location.mixin.pug
include /atom/company-name/company-name.mixin.pug
include /atom/company-website/company-website.mixin.pug
include /atom/info-card/info-card.mixin.pug
include /atom/contact-card/contact-card.mixin.pug

mixin company(options)
  -const opt = options || {}
  -const details = opt.details
  -const contacts = opt.contacts
  .company
    .company--header
      .company--name
        +company-name(options)
      if opt.linkedin
        .company--linkedin
          a.contact-card--link(href=opt.linkedin, title='LinkedIn ' + opt.name, target='_blank')
            i.icon-linkedin
      if opt.location
        +company-location #{opt.location}
    if details
      .company--details
        if details.employees
          +info-card({type: 'employees', info: details.employees})
        if details.contract
          +info-card({type: 'contract', info: details.contract})
        if details.industry
          +info-card({type: 'industry', info: details.industry})
    if contacts
      .company--contacts
        each contact in contacts
          +contact-card(contact)
    .company--website
      +company-website({url: opt.website})
