include company.mixin.pug

+company({
  linkedin: 'https://www.linkedin.com/company/ideme%C2%B0',
  name: 'Ideme',
  website: 'https://ideme.fr',
  location: 'Lyon',
  details: {
    employees: '10 - 50',
    contract: '174 jours / an',
    industry: 'Conseil',
  },
  contacts: [
    {
      name: 'Pascaline LAROSE',
      role: 'Présidente',
      linkedin: 'https://www.linkedin.com/in/pascaline-larose-a91a5a2a/'
    },
    {
      name: 'Colin DAMON',
      role: 'Dev.',
      linkedin: 'https://www.linkedin.com/in/colin-damon/',
      twitter: 'https://twitter.com/colinou',
    }
  ]
}
)
