extends /layout.pug

include /atom/page-title/page-title.mixin.pug
include /atom/summary/summary.mixin.pug
include /atom/contribution-link/contribution-link.mixin.pug
include /atom/discord-link/discord-link.mixin.pug
include /atom/logo/logo.mixin.pug
include /organism/companies/companies.mixin.pug

block body
  .home
    .home--content
      .home--header
        +logo
        +page-title
        +summary
        .home--actions
          +contribution-link
          +discord-link
      .home--companies
        .companies
          +company(
            {
              name: 'A5sys',
              linkedin: 'https://www.linkedin.com/company/a5sys/',
              website: 'https://www.a5sys.com',
              location: 'Nantes, Lyon, Rennes',
              details: {
                employees: '100+',
                contract: '4 jours, 35h',
                industry: 'ESN',
              },
              contacts: [
                {
                  name: 'Marine DE LA GIRODAY',
                  role: 'Responsable RH',
                  linkedin: 'https://www.linkedin.com/in/marine-de-la-giroday-27611427/'
                },
                {
                  name: 'Arnaud GUILLET',
                  role: 'Dirigeant',
                  linkedin: 'https://www.linkedin.com/in/arnaud-guillet-b96370150/'
                }
              ]
            }
          )

          +company(
            {
              name: 'ACCENTURE France',
              linkedin: 'https://www.linkedin.com/company/accenture-france/',
              website: 'https://www.accenture.com/fr-fr',
              details: {
                employees: '10 000+',
                contract: '4 jours possible',
                industry: 'Conseil',
              }
            }
          )

          +company(
            {
              name: 'Acorus',
              linkedin: 'https://www.linkedin.com/company/acorus/',
              website: 'https://www.groupe-acorus.fr/',
              location: 'Croissy Beaubourg',
              details: {
                employees: '1 000 - 2 000',
                contract: '4 jours, 35h',
                industry: 'BTP',
              }
            }
          )

          +company(
            {
              name: 'Atelier panel',
              website: 'http://www.atelierpanel.sitew.fr/',
              location: 'Bourgogne',
              details: {
                employees: '20',
                contract: '4 jours, 35h',
                industry: 'Ameublement',
              }
            }
          )

          +company(
            {
              name: 'Auberge du Vertmont',
              website: 'https://www.vertmont.fr/',
              location: 'Boeschepe (59)',
              details: {
                contract: '4 jours, 43h',
                industry: 'Restauration',
              }
            }
          )

          +company(
            {
              name: 'Be-low',
              linkedin: 'https://www.linkedin.com/company/be-lowcompany/',
              website: 'https://be-low.fr/',
              location: 'Lyon',
              details: {
                employees: '2 - 10',
                contract: '4 jours, 35h',
                industry: 'Conseil Climat & environnement',
              },
              contacts: [
                {
                  name: 'Hugo HANS',
                  role: 'Président',
                  linkedin: 'https://www.linkedin.com/in/hugo-hans/'
                },
              ]
            }
          )

          +company(
            {
              name: 'Bizay',
              linkedin: 'https://www.linkedin.com/company/bizay/',
              website: 'https://www.bizay.fr/',
              location: 'Lisbonne',
              details: {
                employees: '100 - 200',
                contract: '4 jours, 36h',
                industry: 'Digital',
              }
            }
          )

          +company(
            {
              name: 'Chassint Peinture',
              linkedin: 'https://www.linkedin.com/company/chassint-peinture/about/',
              website: 'https://www.chassintpeinture.fr/fr/',
              location: 'Béduer',
              details: {
                employees: '10 - 50',
                industry: 'Industrie',
              }
            }
          )

          +company(
            {
              name: 'Chu de Nantes',
              website: 'https://www.chu-nantes.fr/',
              location: 'Nantes',
              details: {
                contract: '4 jours, 40h',
                industry: 'Médical',
              }
            }
          )

          +company(
            {
              name: 'De Bussac Multimedia',
              linkedin: 'https://www.linkedin.com/company/de-bussac-multim-dia/',
              website: 'https://www.debussac.net/',
              location: 'Clermont-Ferrand',
              details: {
                employees: '10 - 50',
                industry: 'Digital',
              }
            }
          )

          +company(
            {
              name: 'ECO2 Initiative',
              linkedin: 'https://www.linkedin.com/company/eco2-initiative/',
              website: 'https://www.eco2initiative.com/',
              location: 'Paris',
              details: {
                contract: '4.5 jours, 33h45',
                employees: '11 - 50',
                industry: 'Énergie',
              }
            }
          )

          +company(
            {
              name: 'Elmy',
              linkedin: 'https://www.linkedin.com/company/elmy-energie/',
              website: 'https://elmy-energie.fr/',
              location: 'Lyon',
              details: {
                employees: '100 - 500',
                contract: '4 jours, 32h',
                industry: 'Énergie',
              }
            }
          )

          +company(
            {
              name: 'Flexcity',
              linkedin: 'https://www.linkedin.com/company/flexcity/',
              website: 'https://www.flexcity.energy/fr',
              location: 'Bruxelles, Caen, Paris',
              details: {
                employees: '50 - 100',
                contract: '36h en 4, 4.5 ou 5 jours',
                industry: 'Énergie',
              }
            }
          )

          +company(
            {
              name: 'Griffon Marine',
              linkedin: 'https://www.linkedin.com/company/griffon-marine/',
              website: 'https://griffonmarine.fr/',
              location: 'Chanverrie',
              details: {
                employees: '50 - 100',
                contract: '4 jours, 35h à 40h',
                industry: 'Ameublement',
              },
              contacts: [
                {
                  name: 'Etienne BOURDELIER',
                  role: 'Directeur général',
                  linkedin: 'https://www.linkedin.com/in/etienne-boudelier-a21473158/'
                }
              ]
            }
          )

          +company(
            {
              name: 'Groupe Tenor',
              linkedin: 'https://www.linkedin.com/company/groupe-tenor/',
              website: 'https://www.groupetenor.com/',
              location: 'Paris',
              details: {
                employees: '100 - 200',
                contract: '4 jours, 32h',
                industry: 'Conseil',
              }
            }
          )

          +company(
            {
              name: 'Hybride Conseil',
              linkedin: 'https://www.linkedin.com/company/hybride-conseil-sarl/',
              website: 'https://hybride-conseil.fr/',
              location: 'Perpignan',
              details: {
                employees: '10 - 50',
                contract: '4 jours, 35h',
                industry: 'Digital',
              }
            }
          )

          +company(
            {
              name: 'Ideme',
              linkedin: 'https://www.linkedin.com/company/ideme%C2%B0/',
              website: 'https://ideme.fr',
              location: 'Lyon',
              details: {
                employees: '10 - 50',
                contract: '174 jours / an',
                industry: 'Conseil',
              },
              contacts: [
                {
                  name: 'Pascaline LAROSE',
                  role: 'Présidente',
                  linkedin: 'https://www.linkedin.com/in/pascaline-larose-a91a5a2a/'
                },
                {
                  name: 'Colin DAMON',
                  role: 'Dev.',
                  linkedin: 'https://www.linkedin.com/in/colin-damon/'
                }
              ]
            }
          )

          +company(
            {
              name: 'IT Partner',
              linkedin: 'https://www.linkedin.com/company/itpartnerfr/',
              website: 'https://itpartner.fr/',
              location: 'Lyon',
              details: {
                employees: '50 - 100',
                contract: '4 jours, 32h',
                industry: 'Conseil',
              }
            }
          )

          +company(
            {
              name: 'JC Logistique',
              website: 'https://www.groupe-livio.fr/entreprise/jc_logistique.html',
              location: 'Fresse-sur-Moselle',
              details: {
                employees: '10 - 50',
                contract: '4 jours, 39h',
                industry: 'BTP',
              }
            }
          )

          +company(
            {
              name: 'La métropole de Lyon',
              website: 'https://www.grandlyon.com',
              location: 'Lyon',
              details: {
                employees: '5 000 - 10 000',
                contract: '4 ou 4.5 jours, 35h',
                industry: 'Public',
              }
            }
          )

          +company(
            {
              name: 'LDLC',
              linkedin: 'https://www.linkedin.com/company/ldlc/',
              website: 'https://www.ldlc.com/',
              location: 'Lyon',
              details: {
                employees: '500 - 1 000',
                contract: '4 jours, 32h',
                industry: 'Retail',
              }
            }
          )

          +company(
            {
              name: 'Le laboureur',
              linkedin: 'https://www.linkedin.com/company/le-laboureur-official/',
              website: 'https://www.lelaboureur.com/',
              location: 'Digoin',
              details: {
                employees: '10 - 50',
                contract: '4 jours, 35h',
                industry: 'Textile',
              }
            }
          )

          +company(
            {
              name: 'Le Moulin',
              website: 'https://lemoulin.fr',
              location: 'Lyon',
              details: {
                employees: '51 - 200',
                contract: '4 jours',
                industry: 'Restauration',
              },
            }
          )

          +company(
            {
              name: 'LOVE RADIUS',
              linkedin: 'https://www.linkedin.com/company/love-radius/',
              website: 'https://love-radius.com/fr/',
              location: 'La garde',
              details: {
                employees: '10 - 50',
                contract: '4 jours 4 fois / an',
                industry: 'Produits bébé',
              }
            }
          )

          +company(
            {
              name: 'Magasin Lidl',
              linkedin: 'https://www.linkedin.com/company/lidl-france/',
              website: 'https://www.lidl.fr/',
              details: {
                employees: '46 000',
                contract: '4 jours, 30h',
                industry: 'Grande distribution',
              }
            }
          )

          +company(
            {
              name: 'Meilisearch',
              linkedin: 'https://www.linkedin.com/company/meilisearch/',
              website: 'https://www.meilisearch.com/',
              location: 'Paris',
              details: {
                employees: '10 - 50',
                industry: 'Moteur de recherche',
              }
            }
          )

          +company(
            {
              name: 'Mutuelles du Soleil',
              linkedin: 'https://www.linkedin.com/company/mutuelles-du-soleil/',
              website: 'https://www.mutuellesdusoleil.fr/',
              location: 'Marseille',
              details: {
                employees: '300 - 400',
                industry: 'Assurance',
              }
            }
          )

          +company(
            {
              name: 'Mozoo',
              linkedin: 'https://www.linkedin.com/company/mozoogroup/',
              website: 'https://www.mozoo.fr/',
              location: 'Paris',
              details: {
                employees: '10 - 50',
                contract: '174 jours / an',
                industry: 'Digital',
              }
            }
          )

          +company(
            {
              name: 'MJ Conditionnement',
              linkedin: 'https://www.linkedin.com/company/mjconditionnement/',
              website: 'https://www.mjconditionnement.fr/',
              location: 'Hartennes-et-Taux',
              details: {
                employees: '10 - 50',
                contract: '4 jours, 39h',
                industry: 'Conditionnement d\'aérosols',
              }
            }
          )

          +company(
            {
              name: 'MV group',
              linkedin: 'https://www.linkedin.com/company/mvgroupfrance/',
              website: 'https://www.mv-group.fr',
              location: 'Lyon',
              details: {
                employees: '300 - 400',
                contract: '4 jours, 35h',
                industry: 'Digital',
              }
            }
          )

          +company(
            {
              name: 'Pimpant',
              linkedin: 'https://www.linkedin.com/company/pimpant-que-du-bon/',
              website: 'https://www.pimpant.com/',
              location: 'Normandie',
              details: {
                employees: '10 - 50',
                contract: '4 jours, 32h',
                industry: 'Digital',
              }
            }
          )

          +company(
            {
              name: 'Pizza Cosy',
              website: 'https://pizzacosy.fr',
              location: 'La Talaudiere',
              details: {
                employees: '201 - 500',
                contract: '4 jours au siège',
                industry: 'Restauration',
              }
            }
          )

          +company(
            {
              name: 'Pro sima',
              website: 'https://pro-sima.fr',
              location: 'Castelnau-le-Lez',
              details: {
                employees: '10 - 50',
                contract: '4 jours, 35h',
                industry: 'Installation informatique',
              },
              contacts: [
                {
                  name: 'Nicolas MICHEL',
                  role: 'CEO',
                  linkedin: 'https://www.linkedin.com/in/nicolas-michel-09380a83/'
                }
              ]
            }
          )

          +company(
            {
              name: 'Radioshop',
              linkedin: 'https://www.linkedin.com/company/radioshop/',
              website: 'https://www.radioshop.fr',
              location: 'Saint jean de vedas',
              details: {
                employees: '10 - 50',
                contract: '4 jours, 32h',
                industry: 'Digital',
              }
            }
          )

          +company(
            {
              name: 'sillages',
              linkedin: 'https://www.linkedin.com/company/sillages-%E2%9A%93%EF%B8%8E/',
              website: 'https://www.sillages.io/',
              location: 'Paris',
              details: {
                employees: '10 - 50',
                contract: '4 jours, 32h',
                industry: 'Gestion stratégique',
              }
            }
          )

          +company(
            {
              name: 'SDCEM champagnier',
              linkedin: 'https://www.linkedin.com/company/sdcem/',
              website: 'https://www.sdcem.com/',
              location: 'Isère',
              details: {
                employees: '80',
                contract: '4 jours, 34h - 36h',
                industry: 'Énergie',
              }
            }
          )

          +company(
            {
              name: 'Structa',
              linkedin: 'https://www.linkedin.com/company/structa/',
              website: 'https://www.structa.fr/',
              location: 'Beaumont lès valence',
              details: {
                employees: '50 - 100',
                contract: '4 jours, 36h',
                industry: 'Ameublement',
              }
            }
          )

          +company(
            {
              name: 'Systemes B',
              website: 'https://www.systemes-b.com',
              location: 'Carcassone',
              details: {
                employees: '1 - 10',
                contract: '28h',
                industry: 'Conseil',
              }
            }
          )

          +company(
            {
              name: 'URSSAF Picardie',
              linkedin: 'https://www.linkedin.com/company/urssaf-picardie/',
              website: 'https://picardie.urssaf.fr',
              location: 'Amiens',
              details: {
                employees: '100 - 500',
                contract: '4 jours, 39h',
                industry: 'Public',
              }
            }
          )

          +company(
            {
              name: 'Welcome to the Jungle',
              website: 'https://www.welcometothejungle.com/fr',
              location: 'Paris',
              details: {
                employees: '300 - 500',
                contract: '4 jours, 32h',
                industry: 'Digital',
              }
            }
          )

          +company(
            {
              name: 'Weglot',
              website: 'https://weglot.com',
              location: 'Paris',
              details: {
                employees: '11 - 50',
                contract: '4 jours',
                industry: 'Logiciel traduction',
              }
            }
          )

          +company(
            {
              name: 'Yprema',
              linkedin: 'https://www.linkedin.com/company/yprema/',
              website: 'https://www.yprema.fr/',
              location: 'Chennevières-sur-Marne',
              details: {
                employees: '50 - 100',
                contract: '4 jours, 35h',
                industry: 'BTP',
              }
            }
          )
