doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(property='og:url' content='http://www.s4j.fr')
    meta(property='og:type' content='website')
    meta(property='og:title' content='Trouvez des contacts pour échanger sur la semaine de 4 jours')
    meta(property='og:locale' content='fr_FR')
    block title
      title S4J - Trouvez des contacts pour échanger sur la semaine de 4 jours
    link(rel='stylesheet' href='[[TIKUI_BASEPATH]]tikui.css')
    link(rel='stylesheet' href='[[TIKUI_BASEPATH]]glyph/css/s4j-icons.css')
    link(rel='stylesheet' href='[[TIKUI_BASEPATH]]assets/fonts/inter/inter.css')
  body
    block body
      p Please include a body here.
