@import 'token/token';
@import 'atom/atom';
@import 'molecule/molecule';
@import 'organism/organism';
@import 'template/template';

* {
  margin: 0;
  padding: 0;
  color: $s4j-primary-text-color;
  font-family: Inter, sans-serif;
}
