.home {
  background-color: $s4j-secondary-color;
  height: 100vh;
  overflow: auto;

  &--header {
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
    align-items: center;
    justify-items: center;
    margin-top: 15px;
  }

  &--content {
    margin: 0 auto 50px;
    padding: 5px 10px;
    max-width: 1500px;
  }

  &--actions {
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
    align-items: center;
    justify-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &--discord {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  &--summary {
    margin: 15px 0;
  }

  &--companies {
    margin-top: 10px;
  }

  &--contribution {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  @media screen and ($computer-media) {
    &--header {
      margin-top: 60px;
    }

    &--companies {
      margin-top: 30px;
    }

    &--contribution {
      justify-content: end;
      margin-top: 30px;
    }

    &--actions {
      display: flex;
      gap: 20px;
      margin-top: 15px;
    }
  }
}
