include /atom/page-title/page-title.mixin.pug
include /atom/summary/summary.mixin.pug
include /atom/contribution-link/contribution-link.mixin.pug
include /atom/discord-link/discord-link.mixin.pug
include /atom/logo/logo.mixin.pug
include /organism/companies/companies.mixin.pug

mixin home
  .home
    .home--content
      .home--header
        +logo
        +page-title
        +summary
        .home--actions
          +contribution-link
          +discord-link
      .home--companies
        +companies
